* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: hsl(257, 40%, 49%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;;
}

body {
    height: 100vh;
    background-color: var(--violet);
    background-image: url(../images/bg-desktop.svg);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;;
}

.wrapper {
    display: grid;
    grid: 
        "header header" 120px
        "image  post" 460px
        "footer footer" 73px/
        683px 683px;
}

.header {
    grid-area: header;
    padding-top: 35px;
    padding-left: 70px;
}

.header > img {
    width: 150px;
    height: auto;
}

.image {
    grid-area: image;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.image > img {
    display: inline-block;
    width: 610px;
    height: auto;
    margin: 0;
    padding: 0;
}

.post {
    grid-area: post;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 65px;
}

.post .post-wrapper {
    width: 512px;
    padding: 0;
    margin: 0;
}

.post .post-wrapper > h2 {
    margin-bottom: 17px;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
}

.post .post-wrapper > p {
    margin-bottom: 20px;
    padding: 0;
    font-weight: 400;
    line-height: 1.5rem;
    word-spacing: .08rem;
}

.post .register-btn {
    display: block;
    background-color: #ffffff;;
    border: transparent;
    width: 180px;
    height: 48px;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.03rem;
    color: var(--violet);
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 110px;
}

.footer .icons i {
    width: 36px;
    height: 36px;
    margin-left: 8px;
    padding-top: 8px;
    border: 1.495px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 1.08rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 375px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
    }
    
    .wrapper {
        width: 100%;
        display: grid;
        grid:
            "header" 100px
            "image" 1fr
            "post" 370px
            "footer" 130px/
            375px;
    }
    
    .header {
        margin: 0;
        padding: 0;
        padding-left: 25px;
        display: flex;
        align-items: center;
    }

    .image {
        justify-content: center;
        padding-top: 20px;
    }

    .image > img {
        width: 85%;
        height: auto;
    }

    .post {
        align-items: flex-start;
        padding: 0;
        padding-top: 55px;
    }

    .post .post-wrapper {
        width: 85%;
    }

    .post .post-wrapper > h2 {
        margin-bottom: 15px;
        font-size: 1.7rem;
        line-height: 2.5rem;
        text-align: center;
    }

    .post .post-wrapper > p {
        margin-bottom: 25px;
        text-align: center;
    }

    .post .register-btn {
        width: 67%;
        height: 45px;
        margin: 0 auto;
    }

    .footer {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}